header{
    background: greenyellow;
    margin-top:15px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 8px 2px #00000063;
    text-shadow: 0 1px 1px black;
}