.product {
    box-shadow: -1px 0px 8px 5px #0000007d;
    padding: 15px;
    margin-bottom: 15px;

    h3{
        text-align: center;
    }

    .price{
        font-size: 28px;
        font-weight: bold;
    }

    button{
        font-size: 20px;
    }
}